power-management/flows/temperature-radiator-control.json
[
  {
    "id": "temp_radiator_flow",
    "type": "tab",
    "label": "Temperature-Based Radiator Control",
    "disabled": false,
    "info": "Smart radiator control based on room temperature, schedule, and kids presence"
  },
  {
    "id": "mh1_temp_monitor",
    "type": "server-state-changed",
    "z": "temp_radiator_flow",
    "name": "MH1 Temperature",
    "server": "home_assistant",
    "version": 4,
    "exposeToHomeAssistant": false,
    "haConfig": [],
    "entityidfilter": "sensor.aqara_makuuhuone_temperature",
    "entityidfiltertype": "exact",
    "outputinitially": true,
    "state_type": "num",
    "haltifstate": "",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "outputs": 1,
    "output_only_on_state_change": true,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      }
    ],
    "x": 130,
    "y": 80,
    "wires": [["mh1_control_logic"]]
  },
  {
    "id": "mh1_control_logic",
    "type": "function",
    "z": "temp_radiator_flow",
    "name": "MH1 Control Logic",
    "func": "const currentTemp = parseFloat(msg.payload);\nconst targetTemp = parseFloat(global.get('homeassistant.homeAssistant.states[\"input_number.mh1_target_temp\"].state'));\nconst manualOverride = global.get('homeassistant.homeAssistant.states[\"input_boolean.mh1_manual_override\"].state') === 'on';\nconst startTime = global.get('homeassistant.homeAssistant.states[\"input_datetime.mh1_start_time\"].state');\nconst endTime = global.get('homeassistant.homeAssistant.states[\"input_datetime.mh1_end_time\"].state');\nconst radiatorState = global.get('homeassistant.homeAssistant.states[\"switch.mh1\"].state');\n\n// Get current time\nconst now = new Date();\nconst currentHour = now.getHours();\nconst currentMinute = now.getMinutes();\nconst currentTimeMinutes = currentHour * 60 + currentMinute;\n\n// Parse schedule times\nconst [startHour, startMin] = startTime.split(':').map(Number);\nconst [endHour, endMin] = endTime.split(':').map(Number);\nconst startMinutes = startHour * 60 + startMin;\nconst endMinutes = endHour * 60 + endMin;\n\n// Check if within schedule (handle overnight schedule)\nlet withinSchedule;\nif (startMinutes > endMinutes) {\n    // Overnight schedule (e.g., 22:00 to 07:00)\n    withinSchedule = currentTimeMinutes >= startMinutes || currentTimeMinutes < endMinutes;\n} else {\n    // Same-day schedule\n    withinSchedule = currentTimeMinutes >= startMinutes && currentTimeMinutes < endMinutes;\n}\n\n// Decision logic\nlet shouldHeat = false;\nlet reason = '';\n\nif (manualOverride) {\n    shouldHeat = currentTemp < targetTemp;\n    reason = manualOverride ? 'Manual override active' : 'Manual override - target reached';\n} else if (!withinSchedule) {\n    shouldHeat = false;\n    reason = 'Outside heating schedule';\n} else if (currentTemp < (targetTemp - 0.5)) {\n    // Add 0.5°C hysteresis to prevent rapid cycling\n    shouldHeat = true;\n    reason = `Temp ${currentTemp}°C < target ${targetTemp}°C`;\n} else if (currentTemp >= targetTemp) {\n    shouldHeat = false;\n    reason = `Temp ${currentTemp}°C ≥ target ${targetTemp}°C`;\n} else {\n    // Within hysteresis band - maintain current state\n    shouldHeat = radiatorState === 'on';\n    reason = 'Within hysteresis band';\n}\n\n// Store state for status\nflow.set('mh1_should_heat', shouldHeat);\nflow.set('mh1_reason', reason);\n\nmsg.shouldHeat = shouldHeat;\nmsg.currentState = radiatorState;\nmsg.reason = reason;\n\nnode.status({\n    fill: shouldHeat ? 'green' : 'grey',\n    shape: 'dot',\n    text: `${currentTemp}°C | ${reason}`\n});\n\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 360,
    "y": 80,
    "wires": [["mh1_action_decision"]]
  },
  {
    "id": "mh1_action_decision",
    "type": "switch",
    "z": "temp_radiator_flow",
    "name": "MH1 Action?",
    "property": "shouldHeat",
    "propertyType": "msg",
    "rules": [
      {
        "t": "true"
      },
      {
        "t": "false"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 570,
    "y": 80,
    "wires": [
      ["mh1_turn_on"],
      ["mh1_turn_off"]
    ]
  },
  {
    "id": "mh1_turn_on",
    "type": "api-call-service",
    "z": "temp_radiator_flow",
    "name": "Turn ON MH1",
    "server": "home_assistant",
    "version": 5,
    "debugenabled": false,
    "domain": "switch",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": ["switch.mh1"],
    "data": "",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 770,
    "y": 60,
    "wires": [[]]
  },
  {
    "id": "mh1_turn_off",
    "type": "api-call-service",
    "z": "temp_radiator_flow",
    "name": "Turn OFF MH1",
    "server": "home_assistant",
    "version": 5,
    "debugenabled": false,
    "domain": "switch",
    "service": "turn_off",
    "areaId": [],
    "deviceId": [],
    "entityId": ["switch.mh1"],
    "data": "",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 770,
    "y": 100,
    "wires": [[]]
  },
  {
    "id": "tuomas_temp_monitor",
    "type": "server-state-changed",
    "z": "temp_radiator_flow",
    "name": "Tuomas Temperature",
    "server": "home_assistant",
    "version": 4,
    "exposeToHomeAssistant": false,
    "haConfig": [],
    "entityidfilter": "sensor.aqara_poikienhuone_temperature",
    "entityidfiltertype": "exact",
    "outputinitially": true,
    "state_type": "num",
    "haltifstate": "",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "outputs": 1,
    "output_only_on_state_change": true,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      }
    ],
    "x": 130,
    "y": 200,
    "wires": [["tuomas_control_logic"]]
  },
  {
    "id": "tuomas_control_logic",
    "type": "function",
    "z": "temp_radiator_flow",
    "name": "Tuomas Control Logic",
    "func": "const currentTemp = parseFloat(msg.payload);\nconst kidsHome = global.get('homeassistant.homeAssistant.states[\"input_boolean.kids_home\"].state') === 'on';\nconst minTemp = parseFloat(global.get('homeassistant.homeAssistant.states[\"input_number.kids_rooms_min_temp\"].state'));\nconst targetTemp = parseFloat(global.get('homeassistant.homeAssistant.states[\"input_number.kids_rooms_target_temp\"].state'));\nconst radiatorState = global.get('homeassistant.homeAssistant.states[\"switch.shellypro4pm_ec62609fd3dc_switch_1\"].state');\n\nlet shouldHeat = false;\nlet reason = '';\n\nif (!kidsHome) {\n    shouldHeat = false;\n    reason = 'Kids not home';\n} else if (currentTemp < (minTemp - 0.3)) {\n    // Add hysteresis\n    shouldHeat = true;\n    reason = `Temp ${currentTemp}°C < min ${minTemp}°C`;\n} else if (currentTemp >= targetTemp) {\n    shouldHeat = false;\n    reason = `Temp ${currentTemp}°C ≥ target ${targetTemp}°C`;\n} else {\n    // Within hysteresis band - maintain current state\n    shouldHeat = radiatorState === 'on';\n    reason = 'Maintaining state';\n}\n\nflow.set('tuomas_should_heat', shouldHeat);\nflow.set('tuomas_reason', reason);\n\nmsg.shouldHeat = shouldHeat;\nmsg.currentState = radiatorState;\nmsg.reason = reason;\n\nnode.status({\n    fill: shouldHeat ? 'green' : 'grey',\n    shape: 'dot',\n    text: `${currentTemp}°C | ${reason}`\n});\n\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 370,
    "y": 200,
    "wires": [["tuomas_action_decision"]]
  },
  {
    "id": "tuomas_action_decision",
    "type": "switch",
    "z": "temp_radiator_flow",
    "name": "Tuomas Action?",
    "property": "shouldHeat",
    "propertyType": "msg",
    "rules": [
      {
        "t": "true"
      },
      {
        "t": "false"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 580,
    "y": 200,
    "wires": [
      ["tuomas_turn_on"],
      ["tuomas_turn_off"]
    ]
  },
  {
    "id": "tuomas_turn_on",
    "type": "api-call-service",
    "z": "temp_radiator_flow",
    "name": "Turn ON Tuomas",
    "server": "home_assistant",
    "version": 5,
    "debugenabled": false,
    "domain": "switch",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": ["switch.shellypro4pm_ec62609fd3dc_switch_1"],
    "data": "",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 790,
    "y": 180,
    "wires": [[]]
  },
  {
    "id": "tuomas_turn_off",
    "type": "api-call-service",
    "z": "temp_radiator_flow",
    "name": "Turn OFF Tuomas",
    "server": "home_assistant",
    "version": 5,
    "debugenabled": false,
    "domain": "switch",
    "service": "turn_off",
    "areaId": [],
    "deviceId": [],
    "entityId": ["switch.shellypro4pm_ec62609fd3dc_switch_1"],
    "data": "",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 790,
    "y": 220,
    "wires": [[]]
  },
  {
    "id": "sara_temp_monitor",
    "type": "server-state-changed",
    "z": "temp_radiator_flow",
    "name": "Sara Temperature",
    "server": "home_assistant",
    "version": 4,
    "exposeToHomeAssistant": false,
    "haConfig": [],
    "entityidfilter": "sensor.aqara_saranhuone_temperature",
    "entityidfiltertype": "exact",
    "outputinitially": true,
    "state_type": "num",
    "haltifstate": "",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "outputs": 1,
    "output_only_on_state_change": true,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      }
    ],
    "x": 120,
    "y": 320,
    "wires": [["sara_control_logic"]]
  },
  {
    "id": "sara_control_logic",
    "type": "function",
    "z": "temp_radiator_flow",
    "name": "Sara Control Logic",
    "func": "const currentTemp = parseFloat(msg.payload);\nconst kidsHome = global.get('homeassistant.homeAssistant.states[\"input_boolean.kids_home\"].state') === 'on';\nconst minTemp = parseFloat(global.get('homeassistant.homeAssistant.states[\"input_number.kids_rooms_min_temp\"].state'));\nconst targetTemp = parseFloat(global.get('homeassistant.homeAssistant.states[\"input_number.kids_rooms_target_temp\"].state'));\nconst radiatorState = global.get('homeassistant.homeAssistant.states[\"switch.shellypro4pm_ec62609fd3dc_switch_0\"].state');\n\nlet shouldHeat = false;\nlet reason = '';\n\nif (!kidsHome) {\n    shouldHeat = false;\n    reason = 'Kids not home';\n} else if (currentTemp < (minTemp - 0.3)) {\n    // Add hysteresis\n    shouldHeat = true;\n    reason = `Temp ${currentTemp}°C < min ${minTemp}°C`;\n} else if (currentTemp >= targetTemp) {\n    shouldHeat = false;\n    reason = `Temp ${currentTemp}°C ≥ target ${targetTemp}°C`;\n} else {\n    // Within hysteresis band - maintain current state\n    shouldHeat = radiatorState === 'on';\n    reason = 'Maintaining state';\n}\n\nflow.set('sara_should_heat', shouldHeat);\nflow.set('sara_reason', reason);\n\nmsg.shouldHeat = shouldHeat;\nmsg.currentState = radiatorState;\nmsg.reason = reason;\n\nnode.status({\n    fill: shouldHeat ? 'green' : 'grey',\n    shape: 'dot',\n    text: `${currentTemp}°C | ${reason}`\n});\n\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 350,
    "y": 320,
    "wires": [["sara_action_decision"]]
  },
  {
    "id": "sara_action_decision",
    "type": "switch",
    "z": "temp_radiator_flow",
    "name": "Sara Action?",
    "property": "shouldHeat",
    "propertyType": "msg",
    "rules": [
      {
        "t": "true"
      },
      {
        "t": "false"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 560,
    "y": 320,
    "wires": [
      ["sara_turn_on"],
      ["sara_turn_off"]
    ]
  },
  {
    "id": "sara_turn_on",
    "type": "api-call-service",
    "z": "temp_radiator_flow",
    "name": "Turn ON Sara",
    "server": "home_assistant",
    "version": 5,
    "debugenabled": false,
    "domain": "switch",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": ["switch.shellypro4pm_ec62609fd3dc_switch_0"],
    "data": "",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 760,
    "y": 300,
    "wires": [[]]
  },
  {
    "id": "sara_turn_off",
    "type": "api-call-service",
    "z": "temp_radiator_flow",
    "name": "Turn OFF Sara",
    "server": "home_assistant",
    "version": 5,
    "debugenabled": false,
    "domain": "switch",
    "service": "turn_off",
    "areaId": [],
    "deviceId": [],
    "entityId": ["switch.shellypro4pm_ec62609fd3dc_switch_0"],
    "data": "",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 760,
    "y": 340,
    "wires": [[]]
  },
  {
    "id": "kids_home_changed",
    "type": "server-state-changed",
    "z": "temp_radiator_flow",
    "name": "Kids Home Status",
    "server": "home_assistant",
    "version": 4,
    "exposeToHomeAssistant": false,
    "haConfig": [],
    "entityidfilter": "input_boolean.kids_home",
    "entityidfiltertype": "exact",
    "outputinitially": true,
    "state_type": "str",
    "haltifstate": "",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "outputs": 1,
    "output_only_on_state_change": true,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      }
    ],
    "x": 130,
    "y": 420,
    "wires": [["kids_home_notify"]]
  },
  {
    "id": "kids_home_notify",
    "type": "function",
    "z": "temp_radiator_flow",
    "name": "Notify Kids Status Change",
    "func": "const kidsHome = msg.payload === 'on';\n\nif (kidsHome) {\n    node.status({\n        fill: 'green',\n        shape: 'dot',\n        text: 'Kids home - Heating enabled'\n    });\n    \n    // Trigger re-evaluation of both kids' rooms\n    flow.set('kids_status_changed', Date.now());\n    \n    msg.notification = '👦👧 Kids home - Radiator control enabled';\n} else {\n    node.status({\n        fill: 'grey',\n        shape: 'dot',\n        text: 'Kids away - Heating disabled'\n    });\n    \n    // Turn off both kids radiators immediately\n    const messages = [\n        {\n            payload: {\n                domain: 'switch',\n                service: 'turn_off',\n                data: {\n                    entity_id: 'switch.shellypro4pm_ec62609fd3dc_switch_1'\n                }\n            }\n        },\n        {\n            payload: {\n                domain: 'switch',\n                service: 'turn_off',\n                data: {\n                    entity_id: 'switch.shellypro4pm_ec62609fd3dc_switch_0'\n                }\n            }\n        }\n    ];\n    \n    msg.notification = '💤 Kids away - Radiators turned off';\n    \n    return [messages[0], messages[1], msg];\n}\n\nreturn [null, null, msg];",
    "outputs": 3,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 370,
    "y": 420,
    "wires": [
      ["tuomas_turn_off"],
      ["sara_turn_off"],
      []
    ]
  }
]
