nodered/flows/temperature-radiator-control.json
[
  {
    "id": "temp_radiator_flow",
    "type": "tab",
    "label": "Temperature-Based Radiator Control",
    "disabled": false,
    "info": "Smart radiator control based on room temperature, schedule, and kids presence"
  },
  {
    "id": "mh1_temp_monitor",
    "type": "server-state-changed",
    "z": "temp_radiator_flow",
    "name": "MH1 Temperature",
    "server": "home_assistant",
    "version": 4,
    "exposeToHomeAssistant": false,
    "haConfig": [],
    "entityidfilter": "sensor.aqara_makuuhuone_temperature",
    "entityidfiltertype": "exact",
    "outputinitially": true,
    "haltifstate": "",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "outputs": 1,
    "output_only_on_state_change": true,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      }
    ],
    "x": 130,
    "y": 80,
    "wires": [["mh1_control_logic"]]
  },
  {
    "id": "mh1_control_logic",
    "type": "function",
    "z": "temp_radiator_flow",
    "name": "MH1 Control Logic",
    "func": "const currentTemp = parseFloat(msg.payload);\nconst targetTemp = parseFloat(global.get('homeassistant.homeAssistant.states[\"input_number.mh1_target_temp\"].state'));\nconst manualOverride = global.get('homeassistant.homeAssistant.states[\"input_boolean.mh1_manual_override\"].state') === 'on';\nconst radiatorState = global.get('homeassistant.homeAssistant.states[\"switch.mh1\"].state');\n\n// Get adjustable parameters\nconst outsideTempThreshold = parseFloat(global.get('homeassistant.homeAssistant.states[\"input_number.mh1_outside_temp_threshold\"].state')) || 10;\nconst minRoomTemp = parseFloat(global.get('homeassistant.homeAssistant.states[\"input_number.mh1_min_room_temp\"].state')) || 19;\nconst maxRoomTemp = parseFloat(global.get('homeassistant.homeAssistant.states[\"input_number.mh1_max_room_temp\"].state')) || 21;\nconst outsideTemp = parseFloat(global.get('homeassistant.homeAssistant.states[\"sensor.outside_temperature\"].state'));\n\n// Get configurable schedule times from input_datetime helpers\nconst startTimeStr = global.get('homeassistant.homeAssistant.states[\"input_datetime.mh1_start_time\"].state') || \"22:00:00\";\nconst endTimeStr = global.get('homeassistant.homeAssistant.states[\"input_datetime.mh1_end_time\"].state') || \"07:00:00\";\n\n// Parse schedule times (format: \"HH:MM:SS\")\nconst startHour = parseInt(startTimeStr.split(':')[0]);\nconst endHour = parseInt(endTimeStr.split(':')[0]);\n\n// Get current time\nconst now = new Date();\nconst currentHour = now.getHours();\nconst currentMinute = now.getMinutes();\n\n// Check if within STRICT schedule (supports overnight ranges)\nconst withinSchedule = startHour > endHour \n    ? (currentHour >= startHour || currentHour < endHour)  // Overnight: 22:00-07:00\n    : (currentHour >= startHour && currentHour < endHour); // Same day: 08:00-16:00\n\n// Decision logic - STRICT SCHEDULE ENFORCEMENT\nlet shouldHeat = false;\nlet reason = '';\n\n// CRITICAL: Check schedule FIRST (unless manual override)\nif (manualOverride) {\n    // Manual override bypasses all other checks\n    shouldHeat = currentTemp < targetTemp;\n    reason = shouldHeat ? 'Manual override - heating' : 'Manual override - target reached';\n} else if (!withinSchedule) {\n    // ALWAYS OFF outside configured schedule window\n    shouldHeat = false;\n    reason = `Outside schedule (${currentHour}:${String(currentMinute).padStart(2,'0')} not in ${startTimeStr.substring(0,5)}-${endTimeStr.substring(0,5)})`;\n} else if (outsideTemp >= outsideTempThreshold) {\n    // Within schedule but outside temp too warm\n    shouldHeat = false;\n    reason = `Outside ${outsideTemp}°C ≥ ${outsideTempThreshold}°C - no heating needed`;\n} else if (currentTemp >= maxRoomTemp) {\n    // Within schedule but room too warm\n    shouldHeat = false;\n    reason = `Room ${currentTemp}°C ≥ max ${maxRoomTemp}°C`;\n} else if (currentTemp < minRoomTemp) {\n    // Within schedule and below minimum - heat\n    shouldHeat = true;\n    reason = `Room ${currentTemp}°C < min ${minRoomTemp}°C`;\n} else if (currentTemp < (targetTemp - 0.5)) {\n    // Within schedule and below target (with hysteresis)\n    shouldHeat = true;\n    reason = `Temp ${currentTemp}°C < target ${targetTemp}°C`;\n} else if (currentTemp >= targetTemp) {\n    // Within schedule but at or above target\n    shouldHeat = false;\n    reason = `Temp ${currentTemp}°C ≥ target ${targetTemp}°C`;\n} else {\n    // Within hysteresis band - maintain current state\n    shouldHeat = radiatorState === 'on';\n    reason = 'Within hysteresis band';\n}\n\n// Store state for status\nflow.set('mh1_should_heat', shouldHeat);\nflow.set('mh1_reason', reason);\n\nmsg.shouldHeat = shouldHeat;\nmsg.currentState = radiatorState;\nmsg.reason = reason;\n\nnode.status({\n    fill: shouldHeat ? 'green' : 'grey',\n    shape: 'dot',\n    text: `${currentTemp}°C | ${reason} | ${withinSchedule ? 'IN' : 'OUT'} schedule`\n});\n\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 360,
    "y": 80,
    "wires": [["mh1_action_decision"]]
  },
  {
    "id": "mh1_action_decision",
    "type": "switch",
    "z": "temp_radiator_flow",
    "name": "MH1 Action?",
    "property": "shouldHeat",
    "propertyType": "msg",
    "rules": [
      {
        "t": "true"
      },
      {
        "t": "false"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 570,
    "y": 80,
    "wires": [
      ["mh1_turn_on"],
      ["mh1_turn_off"]
    ]
  },
  {
    "id": "mh1_turn_on",
    "type": "api-call-service",
    "z": "temp_radiator_flow",
    "name": "Turn ON MH1",
    "server": "home_assistant",
    "version": 5,
    "debugenabled": false,
    "domain": "switch",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": ["switch.mh1"],
    "data": "",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 770,
    "y": 60,
    "wires": [[]]
  },
  {
    "id": "mh1_turn_off",
    "type": "api-call-service",
    "z": "temp_radiator_flow",
    "name": "Turn OFF MH1",
    "server": "home_assistant",
    "version": 5,
    "debugenabled": false,
    "domain": "switch",
    "service": "turn_off",
    "areaId": [],
    "deviceId": [],
    "entityId": ["switch.mh1"],
    "data": "",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 770,
    "y": 100,
    "wires": [[]]
  },
  {
    "id": "tuomas_temp_monitor",
    "type": "server-state-changed",
    "z": "temp_radiator_flow",
    "name": "Tuomas Temperature",
    "server": "home_assistant",
    "version": 4,
    "exposeToHomeAssistant": false,
    "haConfig": [],
    "entityidfilter": "sensor.aqara_poikienhuone_temperature",
    "entityidfiltertype": "exact",
    "outputinitially": true,
    "haltifstate": "",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "outputs": 1,
    "output_only_on_state_change": true,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      }
    ],
    "x": 130,
    "y": 200,
    "wires": [["tuomas_control_logic"]]
  },
  {
    "id": "tuomas_control_logic",
    "type": "function",
    "z": "temp_radiator_flow",
    "name": "Tuomas Control Logic",
    "func": "const currentTemp = parseFloat(msg.payload);\nconst kidsHome = global.get('homeassistant.homeAssistant.states[\"input_boolean.kids_home\"].state') === 'on';\nconst radiatorState = global.get('homeassistant.homeAssistant.states[\"switch.shellypro4pm_ec62609fd3dc_switch_1\"].state');\n\n// Get adjustable parameters\nconst outsideTempThreshold = parseFloat(global.get('homeassistant.homeAssistant.states[\"input_number.tuomas_outside_temp_threshold\"].state')) || 12;\nconst maxRoomTemp = parseFloat(global.get('homeassistant.homeAssistant.states[\"input_number.tuomas_max_room_temp\"].state')) || 22;\nconst targetTemp = parseFloat(global.get('homeassistant.homeAssistant.states[\"input_number.kids_rooms_target_temp\"].state')) || 19;\nconst outsideTemp = parseFloat(global.get('homeassistant.homeAssistant.states[\"sensor.outside_temperature\"].state'));\n\nlet shouldHeat = false;\nlet reason = '';\n\n// CRITICAL: No heating when kids are not home\nif (!kidsHome) {\n    shouldHeat = false;\n    reason = '💤 Kids away - NO heating';\n} else if (outsideTemp >= outsideTempThreshold) {\n    shouldHeat = false;\n    reason = `Outside ${outsideTemp}°C ≥ threshold ${outsideTempThreshold}°C`;\n} else if (currentTemp >= maxRoomTemp) {\n    shouldHeat = false;\n    reason = `Room ${currentTemp}°C ≥ max ${maxRoomTemp}°C`;\n} else if (currentTemp < targetTemp - 0.5) {\n    // Kids home - heat to target with 0.5°C hysteresis\n    shouldHeat = true;\n    reason = `Kids home - ${currentTemp}°C < target ${targetTemp}°C`;\n} else if (currentTemp >= targetTemp) {\n    shouldHeat = false;\n    reason = `Kids home - ${currentTemp}°C ≥ target ${targetTemp}°C`;\n} else {\n    // Within hysteresis band - maintain current state\n    shouldHeat = radiatorState === 'on';\n    reason = 'Hysteresis band';\n}\n\nflow.set('tuomas_should_heat', shouldHeat);\nflow.set('tuomas_reason', reason);\n\nmsg.shouldHeat = shouldHeat;\nmsg.currentState = radiatorState;\nmsg.reason = reason;\n\nnode.status({\n    fill: shouldHeat ? 'green' : 'grey',\n    shape: 'dot',\n    text: `${currentTemp}°C | ${reason}`\n});\n\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 370,
    "y": 200,
    "wires": [["tuomas_action_decision"]]
  },
  {
    "id": "tuomas_action_decision",
    "type": "switch",
    "z": "temp_radiator_flow",
    "name": "Tuomas Action?",
    "property": "shouldHeat",
    "propertyType": "msg",
    "rules": [
      {
        "t": "true"
      },
      {
        "t": "false"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 580,
    "y": 200,
    "wires": [
      ["tuomas_turn_on"],
      ["tuomas_turn_off"]
    ]
  },
  {
    "id": "tuomas_turn_on",
    "type": "api-call-service",
    "z": "temp_radiator_flow",
    "name": "Turn ON Tuomas",
    "server": "home_assistant",
    "version": 5,
    "debugenabled": false,
    "domain": "switch",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": ["switch.shellypro4pm_ec62609fd3dc_switch_1"],
    "data": "",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 790,
    "y": 180,
    "wires": [[]]
  },
  {
    "id": "tuomas_turn_off",
    "type": "api-call-service",
    "z": "temp_radiator_flow",
    "name": "Turn OFF Tuomas",
    "server": "home_assistant",
    "version": 5,
    "debugenabled": false,
    "domain": "switch",
    "service": "turn_off",
    "areaId": [],
    "deviceId": [],
    "entityId": ["switch.shellypro4pm_ec62609fd3dc_switch_1"],
    "data": "",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 790,
    "y": 220,
    "wires": [[]]
  },
  {
    "id": "sara_temp_monitor",
    "type": "server-state-changed",
    "z": "temp_radiator_flow",
    "name": "Sara Temperature",
    "server": "home_assistant",
    "version": 4,
    "exposeToHomeAssistant": false,
    "haConfig": [],
    "entityidfilter": "sensor.aqara_saranhuone_temperature",
    "entityidfiltertype": "exact",
    "outputinitially": true,
    "haltifstate": "",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "outputs": 1,
    "output_only_on_state_change": true,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      }
    ],
    "x": 120,
    "y": 320,
    "wires": [["sara_control_logic"]]
  },
  {
    "id": "sara_control_logic",
    "type": "function",
    "z": "temp_radiator_flow",
    "name": "Sara Control Logic",
    "func": "const currentTemp = parseFloat(msg.payload);\nconst kidsHome = global.get('homeassistant.homeAssistant.states[\"input_boolean.kids_home\"].state') === 'on';\nconst radiatorState = global.get('homeassistant.homeAssistant.states[\"switch.shellypro4pm_ec62609fd3dc_switch_0\"].state');\n\n// Get adjustable parameters\nconst outsideTempThreshold = parseFloat(global.get('homeassistant.homeAssistant.states[\"input_number.sara_outside_temp_threshold\"].state')) || 12;\nconst maxRoomTemp = parseFloat(global.get('homeassistant.homeAssistant.states[\"input_number.sara_max_room_temp\"].state')) || 22;\nconst targetTemp = parseFloat(global.get('homeassistant.homeAssistant.states[\"input_number.kids_rooms_target_temp\"].state')) || 19;\nconst outsideTemp = parseFloat(global.get('homeassistant.homeAssistant.states[\"sensor.outside_temperature\"].state'));\n\nlet shouldHeat = false;\nlet reason = '';\n\n// CRITICAL: No heating when kids are not home\nif (!kidsHome) {\n    shouldHeat = false;\n    reason = '💤 Kids away - NO heating';\n} else if (outsideTemp >= outsideTempThreshold) {\n    shouldHeat = false;\n    reason = `Outside ${outsideTemp}°C ≥ threshold ${outsideTempThreshold}°C`;\n} else if (currentTemp >= maxRoomTemp) {\n    shouldHeat = false;\n    reason = `Room ${currentTemp}°C ≥ max ${maxRoomTemp}°C`;\n} else if (currentTemp < targetTemp - 0.5) {\n    // Kids home - heat to target with 0.5°C hysteresis\n    shouldHeat = true;\n    reason = `Kids home - ${currentTemp}°C < target ${targetTemp}°C`;\n} else if (currentTemp >= targetTemp) {\n    shouldHeat = false;\n    reason = `Kids home - ${currentTemp}°C ≥ target ${targetTemp}°C`;\n} else {\n    // Within hysteresis band - maintain current state\n    shouldHeat = radiatorState === 'on';\n    reason = 'Hysteresis band';\n}\n\nflow.set('sara_should_heat', shouldHeat);\nflow.set('sara_reason', reason);\n\nmsg.shouldHeat = shouldHeat;\nmsg.currentState = radiatorState;\nmsg.reason = reason;\n\nnode.status({\n    fill: shouldHeat ? 'green' : 'grey',\n    shape: 'dot',\n    text: `${currentTemp}°C | ${reason}`\n});\n\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 350,
    "y": 320,
    "wires": [["sara_action_decision"]]
  },
  {
    "id": "sara_action_decision",
    "type": "switch",
    "z": "temp_radiator_flow",
    "name": "Sara Action?",
    "property": "shouldHeat",
    "propertyType": "msg",
    "rules": [
      {
        "t": "true"
      },
      {
        "t": "false"
      }
    ],
    "checkall": "true",
    "repair": false,
    "outputs": 2,
    "x": 560,
    "y": 320,
    "wires": [
      ["sara_turn_on"],
      ["sara_turn_off"]
    ]
  },
  {
    "id": "sara_turn_on",
    "type": "api-call-service",
    "z": "temp_radiator_flow",
    "name": "Turn ON Sara",
    "server": "home_assistant",
    "version": 5,
    "debugenabled": false,
    "domain": "switch",
    "service": "turn_on",
    "areaId": [],
    "deviceId": [],
    "entityId": ["switch.shellypro4pm_ec62609fd3dc_switch_0"],
    "data": "",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 760,
    "y": 300,
    "wires": [[]]
  },
  {
    "id": "sara_turn_off",
    "type": "api-call-service",
    "z": "temp_radiator_flow",
    "name": "Turn OFF Sara",
    "server": "home_assistant",
    "version": 5,
    "debugenabled": false,
    "domain": "switch",
    "service": "turn_off",
    "areaId": [],
    "deviceId": [],
    "entityId": ["switch.shellypro4pm_ec62609fd3dc_switch_0"],
    "data": "",
    "dataType": "jsonata",
    "mergeContext": "",
    "mustacheAltTags": false,
    "outputProperties": [],
    "queue": "none",
    "x": 760,
    "y": 340,
    "wires": [[]]
  },
  {
    "id": "kids_home_changed",
    "type": "server-state-changed",
    "z": "temp_radiator_flow",
    "name": "Kids Home Status",
    "server": "home_assistant",
    "version": 4,
    "exposeToHomeAssistant": false,
    "haConfig": [],
    "entityidfilter": "input_boolean.kids_home",
    "entityidfiltertype": "exact",
    "outputinitially": true,
    "haltifstate": "",
    "halt_if_type": "str",
    "halt_if_compare": "is",
    "outputs": 1,
    "output_only_on_state_change": true,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": false,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      }
    ],
    "x": 130,
    "y": 420,
    "wires": [["kids_home_notify"]]
  },
  {
    "id": "kids_home_notify",
    "type": "function",
    "z": "temp_radiator_flow",
    "name": "Notify Kids Status Change",
    "func": "const kidsHome = msg.payload === 'on';\n\nif (kidsHome) {\n    node.status({\n        fill: 'green',\n        shape: 'dot',\n        text: 'Kids home - Heating enabled'\n    });\n    \n    // Trigger re-evaluation of both kids' rooms\n    flow.set('kids_status_changed', Date.now());\n    \n    msg.notification = '👦👧 Kids home - Radiator control enabled';\n} else {\n    node.status({\n        fill: 'grey',\n        shape: 'dot',\n        text: 'Kids away - Heating disabled'\n    });\n    \n    // Turn off both kids radiators immediately\n    const messages = [\n        {\n            payload: {\n                domain: 'switch',\n                service: 'turn_off',\n                data: {\n                    entity_id: 'switch.shellypro4pm_ec62609fd3dc_switch_1'\n                }\n            }\n        },\n        {\n            payload: {\n                domain: 'switch',\n                service: 'turn_off',\n                data: {\n                    entity_id: 'switch.shellypro4pm_ec62609fd3dc_switch_0'\n                }\n            }\n        }\n    ];\n    \n    msg.notification = '💤 Kids away - Radiators turned off';\n    \n    return [messages[0], messages[1], msg];\n}\n\nreturn [null, null, msg];",
    "outputs": 3,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 370,
    "y": 420,
    "wires": [
      ["tuomas_turn_off"],
      ["sara_turn_off"],
      []
    ]
  }
]
